{% extends 'base.html' %}

{% load static %}

{% block header_title %}
Shop
{% endblock %}
{% block breadcrumb %}{% if category %}
        {{ category.title }}
    {% else %}
        Shop
    {% endif %}{% endblock %}

{% block content %}


        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">Fresh fruits shop</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <form method="GET" action="" class="d-flex w-100">
                                    <input type="search" name="q" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                    <button type="submit" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="fruits">Default Sorting:</label>
                                    <form method="GET" class="d-flex align-items-center">
                                    {% for key, value in request.GET.items %}
                                        {% if key != 'sort' %}
                                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                                        {% endif %}
                                    {% endfor %}

                                    <select name="sort" class="border-0 form-select-sm bg-light me-3" onchange="this.form.submit()">
                                        <option value="" {% if not selected_sort %}selected{% endif %}>Nothing</option>
                                        <option value="date_newest" {% if selected_sort == 'date_newest' %} selected{% endif %}>Newest First</option>
                                    </select>
                                </form>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Categories</h4>

                                            <ul class="list-unstyled fruite-categorie">
                                                {% for sub_category in subcategories %}
                                                <li>
                                                    <div class="d-flex justify-content-between fruite-name">
                                                        <a href="{% url 'category' sub_category.slug %}"><i class="fas fa-apple-alt me-2"></i>{{sub_category.title}}</a>
                                                    </div>
                                                </li>
                                                {% empty %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                     <form method="GET" action="">
                                    <div class="col-lg-12">
                                        <div class="mb-3">

                                            <h4 class="mb-2">Price</h4>
                                            <input
                                            type="range"
                                            class="form-range w-100"
                                            id="rangeInput"
                                            name="price"
                                            min="0"
                                            max="500"
                                            value="{{ selected_price|default:0 }}"
                                            oninput="amount.value=rangeInput.value"
                                        >
                                            <output id="amount" name="amount" for="rangeInput">{{selected_price}}</output>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Product Tags</h4>
                                             {% for tag in product_tags %}
                                             <div class="mb-2">
                                                <input
                                                    type="radio"
                                                    class="me-2"
                                                    id="Categories-{{ tag.id }}"
                                                    name="tag"
                                                    value="{{ tag.id }}"
                                                    {% if selected_tag_id == tag.id %}checked{% endif %}
                                                >
                                                <label for="Categories-{{ tag.id }}"> {{ tag.name }}</label>
                                            </div>
                                        {% empty %}
                                            <p>No tags available</p>
                                        {% endfor %}
                                        </div>
                                    </div>
                                         <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
                                     </form>

                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <img src="{% static 'img/banner-fruits.jpg' %}" class="img-fluid w-100 rounded" alt="">
                                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row g-4 justify-content-center">
                                    {% for product in products %}
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="{{ product.product_image.crop.306x214 }}" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                             <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                                {% for category in product.categories.all %}
                                                    {% with parent_category=category.get_parents|last %}
                                                        {% if parent_category %}
                                                            {{ parent_category.title }}
                                                        {% else %}
                                                            {{ category.title }}
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>{{ product.name }}</h4>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">{{ product.price }} $</p>
                                                    {% if product.quantity > 0 %}
                                                    <form method="post" action="{% url 'order_app:add-to-cart' product.product_id %}">
                                                        {% csrf_token %}
                                                        <button  class="btn border border-secondary rounded-pill px-3 text-primary">
                                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart </button>
                                                    </form>
                                                    {% else %}
                                                        <button class="btn border border-secondary rounded-pill px-3 text-secondary" disabled>
                                                            <i class="fa fa-shopping-bag me-2"></i> Out of stock
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <p>No products found.</p>
                                    {% endfor %}
                                    <div class="col-12">

    <div class="pagination d-flex justify-content-center mt-5">
    {% if products.has_previous %}
        <a href="?page=1{{ query_params }}" class="rounded" title="First page">&laquo;&laquo;</a>
        <a href="?page={{ products.previous_page_number }}{{ query_params }}" class="rounded" title="Previous page">&laquo;</a>
    {% endif %}

    {% for page_num in page_range %}
        {% if page_num == page_obj.number %}  {# Changed from products.number to page_obj.number #}
            <a href="?page={{ page_num }}{{ query_params }}" class="active rounded">{{ page_num }}</a>
        {% else %}
            {% if page_num == 1 and page_obj.number > show_pages %}
                <a href="?page=1{{ query_params }}" class="rounded">1</a>
                {% if page_obj.number > show_pages|add:"1" %}
                    <span class="rounded">...</span>
                {% endif %}
            {% elif page_num == paginator.num_pages and page_obj.number < paginator.num_pages|add:"-4" %}
                {% if page_obj.number < paginator.num_pages|add:"-5" %}
                    <span class="rounded">...</span>
                {% endif %}
                <a href="?page={{ paginator.num_pages }}{{ query_params }}" class="rounded">{{ paginator.num_pages }}</a>
            {% else %}
                <a href="?page={{ page_num }}{{ query_params }}" class="rounded">{{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}{{ query_params }}" class="rounded" title="Next page">&raquo;</a>
        <a href="?page={{ products.paginator.num_pages }}{{ query_params }}" class="rounded" title="Last page">&raquo;&raquo;</a>
    {% endif %}
</div>

</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->
{% endblock %}